/* Utillity */

.dflex {
  display: flex;
  align-items: center;
}

/* nav style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 3rem;
  font-size: 1.5rem;
}

.echipa {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 20px;
  border-radius: 20px;
  border: 1px solid black;
}
.echipa img {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.5rem;
}

.pages {
  display: flex;
  align-items: center;
  padding: 7px 20px;
  border-radius: 20px;
  border: 1px solid black;
}

.pages p + p {
  margin-left: 1rem;
}

.date {
  margin-left: 2rem;
  color: white;
  background-color: black;
  padding: 7px 20px;
  border-radius: 20px;
}

/* section pt Efectele Biologice ale radiatiilor */

.efecte-radiatii {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 3rem;
}

h1 {
  font-size: 4.5rem;
  width: 100%;
  margin-right: 15rem;
  line-height: 1.2;
}
h1 span {
  color: #dd183c;
}

.info {
  font-size: 1.25rem;
  width: 35%;
  line-height: 1.2;
}
.explore {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 5px 10px;
  margin-right: 70px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 20px;
}
.explore a {
  margin-right: 1rem;
}
.explore img {
  width: 15px;
  height: 15px;
}

/* section pt imagine */

.main-image {
  width: 100%;
}

.main-image img {
  width: 100%;
  height: 31.6rem;
  object-fit: cover;
}

/* section pentru Misiunea Noastra */
.misiunea {
  margin: 5rem 3rem;
}
h2 {
  font-size: 3rem;
  margin-bottom: 1em;
}

.two-column-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
  font-size: 1.25rem;
}

.misiune-img {
  margin-right: 5rem;
}

.left-p {
  margin-right: 2rem;
}

.top-p {
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

/* section poza efecte cernobyl */

.chernobyl {
  width: 100%;
}

.chernobyl img {
  width: 100%;
  height: 34rem;
  object-fit: cover;
}

/* section cards */

.subiect {
  margin: 5rem 3rem;
}

.card {
  width: 70%;
  border-radius: 20px;
  padding: 1rem;
}

.card + .card {
  margin-top: 3rem;
}

.card-one{
  background-color: #ffffff;
}

.card-two{
  background-color: #DD183C;
}

.card-three{
  background-color: #ABBBDD;
}

.number {
  color: #848484;
  font-size: 2rem;
}

.card-title {
  font-size: 3rem;
  margin: 0.3em 0;
}

.card-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img {
  width: 20rem;
}

.card-info-container {
  margin-top: 3rem;
}

.card-info{
  width: 70%;
}

.card-explore{
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid black
}

.card-explore img{
  margin-left: 0.5rem;
  width: 1rem;
  height: 1rem;
}




