.dflex {
  display: flex;
  align-items: center;
}

/* nav style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 3rem;
  font-size: 1.5rem;
}

.echipa {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 20px;
  border-radius: 20px;
  border: 1px solid black;
}
.echipa img {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.5rem;
}

.pages {
  display: flex;
  align-items: center;
  padding: 7px 20px;
  border-radius: 20px;
  border: 1px solid black;
}

.pages p + p {
  margin-left: 1rem;
}

.date {
  margin-left: 2rem;
  color: white;
  background-color: black;
  padding: 7px 20px;
  border-radius: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
}

.dark-green-rectangle{
  width: 100%;
  height: 1rem;
  background-color: #112d0f;
}

main::after{
  content: "";
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
  height: 40rem;
  background-color: #336548;
  z-index: -1;
}

main::before{
  content: "";
  position: absolute;
  top: 41rem;
  left: 0;
  width: 100%;
  height: 1rem;
  background-color:#112d0f;
  z-index: -1;
}

.title {
  background-color: #ABBBDD;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container{
  width: 65%;
  padding: 5rem 0 10rem 0;
}

.title-container h1 {
  font-size: 2.5rem;
  line-height: 1.3;
  margin: 0 3rem;
}

.title-container h2 {
  font-size: 2rem;
  line-height: 1.3;
  margin-left:3rem;
  margin-bottom: 1.5rem;
  color: #DD183C;
}

.white-right-angle{
  width: 65%;
  height: 5rem;
  background-color: #f1f0f0;
}


.left{
  position: absolute;
  top: 2rem;
  left: 3.5rem;
}

.left h3{
  font-size: 1.3rem;
  position: relative;
}

.left ul{
  margin-top: 2rem;
}

.left ul li + li{
  margin-top: 1rem;
}

article{
  width: 65%;
  background: linear-gradient(180deg, #B5E4BA 0%, rgba(181, 228, 186, 0) 100%);
  position:relative;
}

article * {
  margin: auto 4rem;
  width: calc(100% - 8rem);
  z-index: 2;
}

article * + *{
  margin-bottom: 2rem;
}

.buble-img{
  position: absolute;
  z-index: 1;
  width: 15rem;
  aspect-ratio: 1;
  right: 18rem;
  top: 2rem;
}

.adn{
  position: absolute;
  z-index: 1;
  width: 30rem;
  opacity: 0.7;
  transform: rotate(45deg);
  left: 8rem;
  top: 7rem;
}

.title-1{
  font-size: 2.5rem;
  line-height: 1.3;
  margin-bottom: 1.5rem;
  margin-top: 10rem;
  color: #DD183C;
  position: relative;
  z-index: 2;
}

.title-2{
  font-size: 3rem;
  line-height: 1.3;
  color: #13261B;
  margin-bottom: 20rem;
  position: relative;
  z-index:2;
}



article h2{
  font-size: 2rem;
  color: #DD183C;
  margin-bottom: 2rem;
}

article p{
  line-height: 1.5;
}

article img{
  width: calc(100% - 6rem);
}

article .dflex p{
  margin: 0;
}

article .dflex img{
  margin: 0;
  width: 50%;
}

.animale-container img{
  margin-left: 1rem;
}

.plante-container {
  text-align: right;
}

.plante-container img{
  margin-right: 1rem;
}

.final{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.final a{
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid black;
  width: auto;
  
}