.dflex {
  display: flex;
  align-items: center;
}

/* nav style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 3rem;
  font-size: 1.5rem;
}

.echipa {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 20px;
  border-radius: 20px;
  border: 1px solid black;
}
.echipa img {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.5rem;
}

.pages {
  display: flex;
  align-items: center;
  padding: 7px 20px;
  border-radius: 20px;
  border: 1px solid black;
}

.pages p + p {
  margin-left: 1rem;
}

.date {
  margin-left: 2rem;
  color: white;
  background-color: black;
  padding: 7px 20px;
  border-radius: 20px;
}


main{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
}

main::after{
  content: "";
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
  height: 40rem;
  background-color: #002C44;
  z-index: -1;
}

main::before{
  content: "";
  position: absolute;
  top: 41rem;
  left: 0;
  width: 100%;
  height: 1rem;
  background-color:#051320;
  z-index: -1;
}

.vertical-rectangle1{
  background-color: #002C44;
  position: absolute;
  width: 1.5rem;
  height: 23.2rem;
  top: 1rem;
  left: 73.87rem;
  opacity: 1;
  z-index: 1;
}

.vertical-rectangle2{
  background-color: #051320;
  position: absolute;
  width: 2rem;
  height: calc(23.3rem - 10px);
  top: 1rem;
  left: calc(74.37rem - 3.5rem);
  opacity: 1;
  z-index: 1;
}

.vertical-rectangle3{
  background-color: #002C44;
  position: absolute;
  width: 1.5rem;
  height: calc(23.3rem - 10px);
  top: 1rem;
  left: calc(74.37rem - 6rem);
  opacity: 1;
  z-index: 1;
}

.dark-blue-rectangle{
  width: 100%;
  height: 1rem;
  background-color: #051320;
}

article{
  background: linear-gradient(180deg, rgba(70, 160, 243, 0.84) 0%, rgba(70, 160, 243, 0) 100%);
  width: 65%;
  position: relative;
}

article * {
  margin: auto 4rem;
  width: calc(100% - 8rem);
}

article * + *{
  margin-bottom: 2rem;
}

article p{
  font-size: 1.2rem;
  line-height: 1.5;
  
}

.title-1{
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 1.5rem;
  margin-top: 10rem;
  color: #ED7199;
}

.title-2{
  font-size: 2.5rem;
  line-height: 1.3;
  color: #0D0251;
}

.img-1{
  border: solid 10px #002C44;
  width: calc(100% - 8rem - 10px);
}

.clasificare-container h3{
  font-size: 1.4rem;
  margin-bottom:2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}  

.clasificare-container .grid{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.clasificare-container .grid p{
  margin: 0;
  line-height: 1.2;
  
}

p.right{
  justify-self: right;
}


.final{
  display: flex;
  align-items: center;
  justify-content: center;
}

.final a{
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid black;
  width: auto;
}